<section class="bg-gray-50 dark:bg-gray-900  ">
  <div class="flex flex-col items-center justify-center mx-auto min-h-[calc(100vh-8rem)] py-8">
    <!-- Logo centrado desde carpeta assets -->
    <div class="flex items-center mb-6 py-10">
      <img class="h-20 w-auto" src="assets/TEXTO.png" alt="Logo de la app">
    </div>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Crear cuenta
        </h1>
        <form [formGroup]="register" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
              <input type="text" id="name" 
              #nameInput
              (keydown.enter)="handleEnterOrSubmit('name', lastnameInput)"
              formControlName="name" placeholder="Tu nombre"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">

                @if(register.get('name')?.invalid && register.get('name')?.touched){
                  <div class="text-sm text-red-600 mt-1">
                    @if(register.get('name')?.errors?.['required']){
                      <span>El nombre es obligatorio</span>
                    }
                  </div>
                }
            </div>
            <div>
              <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
              <input type="text" id="lastname" formControlName="lastname" #lastnameInput 
              (keydown.enter)="handleEnterOrSubmit('lastname', emailInput)"
              placeholder="Tu apellido"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                @if(register.get('lastname')?.invalid && register.get('lastname')?.touched){
                  <div class="text-sm text-red-600 mt-1">
                    @if(register.get('lastname')?.errors?.['required']){
                      <span>El apellido es obligatorio</span>
                    }
                  </div>
                }
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
              <input type="email" id="email" 
              #emailInput
              (keydown.enter)="handleEnterOrSubmit('email', passwordInput)"
              formControlName="email" placeholder="correo@ejemplo.com"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                @if(register.get('email')?.invalid && register.get('email')?.touched){
                  <div class="text-sm text-red-600 mt-1">
                    @if(register.get('email')?.errors?.['required']){
                      <span>El correo electronico es obligatorio</span>
                    }
                  </div>
                }
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
              <input type="password" id="password" 
              #passwordInput
              (keydown.enter)="handleEnterOrSubmit('password', confirmPasswordInput)"
              formControlName="password" placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                @if(register.get('password')?.invalid && register.get('password')?.touched){
                  <div class="text-sm text-red-600 mt-1">
                    @if(register.get('password')?.errors?.['required']){
                      <small>-La contraseña es obligatorio</small>
                    }
                     @if(register.get('password')?.errors?.['hasUpperCase']){
                                <div><small>-Debe contener al menos una letra mayúscula</small></div>
                            }
                            @if(register.get('password')?.errors?.['hasLowerCase']){
                                <div><small>-Debe contener al menos una letra minúscula</small></div>
                            }
                            @if(register.get('password')?.errors?.['hasNumericChar']){
                                <div><small>-Debe contener al menos un número</small></div>
                            }
                            @if(register.get('password')?.errors?.['hasSpecialChar']){
                                <div><small>-Debe contener al menos un carácter especial</small></div>
                            }
                            @if(register.get('password')?.errors?.['minlength']){
                                <div><small>-Debe contener al menos 8 caracteres</small></div>
                            }
                  </div>
                }
            </div>
            <div>
              <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar contraseña</label>
              <input type="password" id="confirmPassword" 
              #confirmPasswordInput
              (keydown.enter)="handleEnterOrSubmit('confirmPassword', fileInput)"
              formControlName="confirmPassword" placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
              <div *ngIf="register.get('confirmPassword')?.invalid && register.get('confirmPassword')?.dirty" class="text-red-500 text-sm mt-1">
                Las contraseñas no coinciden.
              </div>
            </div>
            <div class="md:col-span-2">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Imagen de perfil</label>
              <div class="w-full p-4 border-2 border-dashed border-gray-400 text-center cursor-pointer relative"
                (dragover)="onDragOver($event)" (drop)="onDrop($event)" (click)="fileInput.click()"
                [class.border-cyan-500]="isDragging" [class.bg-gray-100]="isDragging">
                <input #fileInput
                (keydown.enter)="handleEnterOrSubmit('file', submitButton)"
                type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" hidden />
                <p *ngIf="!previewUrl" class="text-gray-600">Arrastra una imagen aquí o haz clic para seleccionar</p>
                <img *ngIf="previewUrl" [src]="previewUrl" alt="Previsualización" class="max-w-xs mx-auto mt-4 rounded-lg" />
              </div>
            </div>
          </div>
        
          <!-- <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="terms" type="checkbox" formControlName="termsAccepted"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600">
            </div>
            <div class="ml-3 text-sm">
              <label for="terms" class="font-light text-gray-500 dark:text-gray-300">
                Acepto los <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Términos y Condiciones</a>
              </label>
            </div>
          </div> -->
        
          <button type="submit"
          [disabled]="register.invalid || isSubmitted"
          #submitButton
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            {{ isSubmitted ? 'Registrando...' : 'Crear cuenta' }}
          </button>
        
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            ¿Ya tienes una cuenta? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Inicia sesión aquí</a>
          </p>
        </form>
        
      </div>
    </div>
  </div>
</section>