<div class="mx-auto max-w-screen-xl grid grid-cols-12 gap-6">
   <!-- Barra lateral -->
   <aside
   [ngClass]="{
     'translate-x-0': isSidebarVisible,
     '-translate-x-full': !isSidebarVisible
   }"
   class="col-span-3 fixed lg:relative top-0 left-0 z-40 w-64 lg:w-auto bg-gradient-to-b from-blue-600 to-indigo-700 text-white p-6 rounded-lg shadow-md lg:transform-none transform transition-transform duration-300 ease-in-out"
 >
   <h2 class="text-lg font-bold mb-6 text-center">Filtros</h2>
   
   <!-- Categorías -->
   <div>
     <h3 class="text-md font-semibold mb-2">Categorías</h3>
     <ul class="space-y-2">
       <li
         *ngFor="let category of categories"
         [ngClass]="{
           'bg-blue-500 text-white': selectedCategoryId === category.id,
           'hover:bg-blue-500': selectedCategoryId !== category.id
         }"
         class="flex items-center space-x-2 p-2 rounded-lg cursor-pointer transition-colors"
         (click)="toggleCategorySelection(category.id)"
       >
         <svg
           class="h-5 w-5"
           xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
         >
           <path
             stroke-linecap="round"
             stroke-linejoin="round"
             stroke-width="2"
             d="M4 6h16M4 12h16M4 18h16"
           />
         </svg>
         <span>{{ category.name }}</span>
       </li>
     </ul>
   </div>

   <!-- Subcategorías -->
   <div *ngIf="subcategories.length > 0" class="mt-6">
     <h3 class="text-md font-semibold mb-2">Subcategorías</h3>
     <ul class="space-y-2">
       <li
         *ngFor="let subcategory of subcategories"
         [ngClass]="{
           'bg-green-500 text-white': selectedSubcategoryId === subcategory.id,
           'hover:bg-green-500': selectedSubcategoryId !== subcategory.id
         }"
         class="flex items-center space-x-2 p-2 rounded-lg cursor-pointer transition-colors"
         (click)="toggleSubcategorySelection(subcategory.id)"
       >
         <svg
           class="h-5 w-5"
           xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
         >
           <path
             stroke-linecap="round"
             stroke-linejoin="round"
             stroke-width="2"
             d="M4 6h16M4 12h16M4 18h16"
           />
         </svg>
         <span>{{ subcategory.name }}</span>
       </li>
     </ul>
   </div>

   <!-- Marcas -->
   <div *ngIf="brands.length > 0" class="mt-6">
     <h3 class="text-md font-semibold mb-2">Marcas</h3>
     <ul class="space-y-2">
       <li
         *ngFor="let brand of brands"
         [ngClass]="{
           'bg-purple-500 text-white': selectedBrandId === brand.id,
           'hover:bg-purple-500': selectedBrandId !== brand.id
         }"
         class="flex items-center space-x-2 p-2 rounded-lg cursor-pointer transition-colors"
         (click)="toggleBrandSelection(brand.id)"
       >
         <svg
           class="h-5 w-5"
           xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
         >
           <path
             stroke-linecap="round"
             stroke-linejoin="round"
             stroke-width="2"
             d="M4 6h16M4 12h16M4 18h16"
           />
         </svg>
         <span>{{ brand.name }}</span>
       </li>
     </ul>
   </div>
 </aside>


  <!-- Contenido principal -->
  <div class="col-span-12 lg:col-span-9">
    <!-- Barra de búsqueda y botón de filtro -->
    <div class="flex flex-wrap items-center mb-6 gap-4">
      <input
        type="text"
        placeholder="Buscar productos..."
        class="flex-1 p-4 border border-gray-300 rounded-lg focus:ring-blue-300 focus:outline-none"
      />
      <!-- Botón de Filtro visible solo en pantallas pequeñas -->
      <button
        class="lg:hidden bg-blue-500 text-white p-4 rounded-lg shadow-lg hover:bg-blue-600 transition duration-300"
        (click)="toggleSidebar()"
      >
        Filtros
      </button>
    </div>

    <!-- Estado de carga, error o productos -->
    @switch(products.state.status()) {
      @case('loading') {
        <p>loading.....</p>
      }
      @case('error') {
        <div class="bg-gray-100 text-gray-800">
          <div class="flex flex-col items-center justify-center h-screen px-4">
            <div class="bg-white shadow-lg rounded-lg p-8 text-center max-w-lg">
              <div class="text-red-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M18 8a1 1 0 01.707 1.707l-8 8a1 1 0 01-1.414 0l-8-8A1 1 0 012 8h16zM10 3a1 1 0 01.707 1.707l-8 8A1 1 0 011 10V4a1 1 0 011-1h7z" clip-rule="evenodd" />
                </svg>
              </div>
              <h1 class="text-2xl font-bold mt-4">Oops! Server Error</h1>
              <p class="text-gray-600 mt-2">We're experiencing technical difficulties. The products couldn't be loaded at the moment.</p>
              <button
                onclick="window.location.reload()"
                class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-6 hover:bg-blue-600"
              >
                Reload Page
              </button>
            </div>
          </div>
        </div>
      }
      @default {
        <div class="flex justify-end my-6">
          <button
            type="button"
            (click)="changePage()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >
            Cambiar de página
          </button>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
          @for (product of products.state().products; track product) {
            <app-product-card class="block" [product]="product" (addToCart)="addToCart($event)"></app-product-card>
          }
          
        </div>
      }
    }
  </div>
</div>
