<ngx-spinner><p class="text-white">Loading</p></ngx-spinner>
<router-outlet></router-outlet>
<!-- Footer al final, visible siempre -->
<!-- <footer class="bg-gray-100 py-4"> -->                                                                                                                                                                                                                                                                                                                                            
