<ngx-spinner><p class="text-white">Loading</p></ngx-spinner>
<div class="flex flex-col min-h-screen">
  <nav class="flex-grow px-6 py-8 pt-2">
    <app-navbar></app-navbar>
  </nav>

  <main class="mt-16 px-4">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-gray-100 py-4">
    <app-footer></app-footer>
  </footer>
</div>
<!-- Footer al final, visible siempre -->
<!-- <footer class="bg-gray-100 py-4"> -->                                                                                                                                                                                                                                                                                                                                            
