<section class="bg-gray-50 dark:bg-gray-900 ">
  <div class="flex flex-col items-center  md:h-screen lg:py-0">
    <!-- Logo centrado desde carpeta assets -->
    <div class="flex items-center mb-6 py-10">
      <img class="h-20 w-auto" src="assets/TEXTO.png" alt="Logo de la app">
    </div>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Iniciar Sesión
        </h1>
        <form class="max-w-sm mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
 
          <div >
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo Electronico</label>
            <input type="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
              <p class="text-red-600">Email no es valido</p>
            </div>
          </div>
          <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input type="password" formControlName="password"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" > <p class="text-red-600">Contraseña es requerido</p> </div>
          </div>
          
          <div class="flex items-start mb-5">
           
            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300  hover:text-blue-500"><a routerLink="/forget-password" class="">¿Se te olvido la contraseña?</a></label>
          </div>
          
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

