<div class="bg-white overflow-hidden shadow rounded-lg border">
    @if(userService().status === 'error' ){
        <div class="flex items-center justify-center min-h-screen bg-gray-100">
            <div class="max-w-md  bg-white border border-gray-200 rounded-lg shadow-md">
              <h2 class="text-lg font-semibold text-gray-700 text-center mb-2">
                Información incompleta
              </h2>
              <p class="text-gray-600 text-center mb-3">
                Usuario no posee información adicional, por favor llene con sus datos personales.
              </p>
              <div class="flex justify-center">
                <button (click)="mostrarModal()"
                  class="px-4 py-2 text-white bg-blue-600 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                 
                >
                  Llenar datos
                </button>
              </div>
            </div>
          </div>
    }@else {
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                User Profile
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                This is some information about the user.
            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Nombre
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().nombre}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Apellido
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().apellido}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Correo Electronico
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().email}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Imagen:</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <img class="h-auto max-w-lg rounded-lg" [src]="userService.users().image" width="200px"  alt="image description">
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Telefono
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().telefono}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Cédula
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().cedula}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Fecha de nacimiento
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().birthdate }}
                    </dd>
                </div>
            </dl>
        </div>
        <div class="px-4"><Button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" (click)="openModal(userService.users())">Editar</Button></div>
    }
    
</div>

@if(activeForm){
    <ng-content #name>
        <form class="max-w-md mx-auto" [formGroup]="createDataClientForm" (ngSubmit)="dataclientcreate()">
          <div class="relative z-0 w-full mb-5 group">
              <input type="text" formControlName="CI" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
              <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cédula</label>
              @if(createDataClientForm.get('CI')?.invalid && createDataClientForm.get('CI')?.touched){
                <div>
                    @if(createDataClientForm.get('CI')?.errors?.['required']){
                        <div><small>Cédula requerida</small></div>
                    }
                    @if(createDataClientForm.get('CI')?.errors?.['cedulaInvalida']){
                        <div><small>Cédula inválida</small></div>
                    }
                </div>
              }
          </div>
          <div class="relative z-0 w-full mb-5 group">
              <input type="date" formControlName="birthdate" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
              <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Fecha de nacimiento</label>
              @if(createDataClientForm.get('birthdate')?.invalid && createDataClientForm.get('birthdate')?.touched){
                <div>
                    @if(createDataClientForm.get('birthdate')?.errors?.['required']){
                        <div><small>Fecha de nacimiento requerida</small></div>
                    }
                </div>
              }
          </div>
          <div class="relative z-0 w-full mb-5 group">
              <input type="text" formControlName="telephone" name="repeat_password" id="floating_repeat_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
              <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telefono</label>
              @if(createDataClientForm.get('telephone')?.invalid && createDataClientForm.get('telephone')?.touched){
                <div>
                    @if(createDataClientForm.get('telephone')?.errors?.['required']){
                        <div><small>Telefono requerido</small></div>
                    }
                </div>
              }
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <label for="sexo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select your country</label>
      <select id="sexo" formControlName="sexo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        
      </select>
      @if(createDataClientForm.get('sexo')?.invalid && createDataClientForm.get('sexo')?.touched){
        <div>
            @if(createDataClientForm.get('sexo')?.errors?.['required']){
                <div><small>Sexo requerido</small></div>
            }
        </div>
      }
          </div>
         
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar los datos adicionales</button>
        </form>
    </ng-content>
}


@if(modalCreateDataClient){
    <section 
  class="modal fixed inset-0 bg-gray-900 bg-opacity-75 z-50 flex items-center justify-center p-4">
  >
  <div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
    <div
      class="bg-white p-6 rounded-3xl shadow-2xl w-full max-w-md md:max-w-lg lg:max-w-2xl max-h-[90vh] overflow-y-auto relative flex flex-col items-center">
      <button (click)="cerrarModal()"
        class="absolute top-3 right-3 bg-gray-300 text-gray-700 w-10 h-10 flex items-center justify-center rounded-full hover:bg-red-500 hover:text-white transition">
        &times;
      </button>
      <!-- Icono y Título -->
      <div class="flex items-center justify-center gap-4 text-center mt-4">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/softpochbot.appspot.com/o/wired-gradient-49-plus-circle-hover-rotation.gif?alt=media&token=e4f138cd-bb52-444e-8bce-4d72933bc66b"
          alt="Ícono" class="h-12 w-14">
        <h2 class="text-gray-800 text-xl md:text-2xl font-bold">Crear Datos del cliente
        </h2>
      </div>

      <div class="w-full p-4 mt-4">
        <form class="space-y-4" [formGroup]="createDataClientForm" (ngSubmit)="dataclientcreate()">
          <div class="grid grid-cols-3 gap-4">
            <div class="space-y-4">
              <div>
                <label class="block text-sm font-semibold text-gray-700 mb-1">🧑‍💼 Cedula *</label>
                <input formControlName="CI" type="text"
                  class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-orange-500"
                  placeholder="Ingrese el nombre" maxlength="50" />
                  @if(createDataClientForm.get('CI')?.invalid && createDataClientForm.get('CI')?.touched){
                    <div>
                      @if(createDataClientForm.get('CI')?.errors?.['required']){
                      <div><small class="text-orange-300">Cédula requerida</small></div>
                      }
                      @if(createDataClientForm.get('CI')?.errors?.['cedulaInvalida']){
                      <div><small class="text-red-600">Cédula inválida</small></div>
                      }
                    </div>
                    }
              </div>
              

              <div>
                <label class="block text-sm font-semibold text-gray-700 mb-1">📞 Teléfono *</label>
                <input formControlName="telephone" type="text"
                  class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-orange-500"
                  placeholder="Ingrese el N° de Teléfono" maxlength="50" />
              </div>

              
              
            </div>
            <div class="space-y-4">
                <div>
                    <label class="block text-sm font-semibold text-gray-700 mb-1">⚧️ Género *</label>
                    <select formControlName="sexo"
                      class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-orange-500">
                      <option value="" disabled selected>Seleccione un género</option>
                      <option *ngFor="let item of items" [value]="item.value">
                        {{ item.label }}
                      </option>
                    </select>
                  </div>
              <div>
                <label class="block text-sm font-semibold text-gray-700 mb-1">🎂 Cumpleaños *</label>
                <input formControlName="birthdate" type="date"
                  class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-orange-500" />
              </div>
             
          </div>
          <div class="mt-5 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ea1712"
              fill="none">
              <path
                d="M5.32171 9.6829C7.73539 5.41196 8.94222 3.27648 10.5983 2.72678C11.5093 2.42437 12.4907 2.42437 13.4017 2.72678C15.0578 3.27648 16.2646 5.41196 18.6783 9.6829C21.092 13.9538 22.2988 16.0893 21.9368 17.8293C21.7376 18.7866 21.2469 19.6548 20.535 20.3097C19.241 21.5 16.8274 21.5 12 21.5C7.17265 21.5 4.75897 21.5 3.46496 20.3097C2.75308 19.6548 2.26239 18.7866 2.06322 17.8293C1.70119 16.0893 2.90803 13.9538 5.32171 9.6829Z"
                stroke="currentColor" stroke-width="1.5" />
            </svg>
            <span class="ml-2 text-red-700">Todos los campos marcados con * son obligatorios.</span>
          </div>

          <!-- Botón e Guardar -->
          <div class="flex justify-center">
            <button type="submit"
              class="bg-green-500 text-white px-6 py-3 rounded-full hover:bg-green-600 transition-transform transform hover:scale-105">
              Guardar
            </button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
}


@if(modalEditProfile){
    <div class="p-8   h-full">
        <p class=" items-center justify-center">Edita tu perfil</p>
        <form class="max-w-md mx-auto" [formGroup]="profileEditForm" (ngSubmit)="onSubmit()">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_email" id="floating_email" formControlName="name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_password" id="floating_password" formControlName="lastname" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Apellido</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="email" name="floating_password" id="floating_password" formControlName="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Correo Electrónico</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label
                for=""
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Imagen de Perfil</label
              >
              <div
              class="w-full p-4 border-2 border-dashed border-gray-400 text-center cursor-pointer relative"
              (dragover)="onDragOver($event)"
              (drop)="onDrop($event)"
              (click)="fileInput.click()"
              [class.border-cyan-500]="isDragging"
              [class.bg-gray-100]="isDragging"
            >
              <input
                #fileInput
                type="file"
                (change)="onFileSelected($event)"
                accept="image/png, image/jpeg"
                hidden
              />
              @if(previewUrl){
                <img  [src]="previewUrl" alt="Previsualización de imagen" class="max-w-xs mx-auto " width="100px" />
              }
              
            </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_password" formControlName="telephone" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telefono</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_password" id="floating_password" formControlName="CI" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cédula</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="date" name="floating_password" formControlName="birthdate" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Fecha de nacimiento</label>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
          </form>
    </div>
}