<div class="bg-white overflow-hidden shadow rounded-lg border">
    @if(userService().status === 'error'){
        <div class="flex items-center justify-center min-h-screen bg-gray-100">
            <div class="max-w-md  bg-white border border-gray-200 rounded-lg shadow-md">
              <h2 class="text-lg font-semibold text-gray-700 text-center mb-2">
                Información incompleta
              </h2>
              <p class="text-gray-600 text-center mb-3">
                Usuario no posee información adicional, por favor llene con sus datos personales.
              </p>
              <div class="flex justify-center">
                <button
                  class="px-4 py-2 text-white bg-blue-600 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                 
                >
                  Llenar datos
                </button>
              </div>
            </div>
          </div>
    }@else {
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                User Profile
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                This is some information about the user.
            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Nombre
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().nombre}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Apellido
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().apellido}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Correo Electronico
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().apellido}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Telefono
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().telelefono}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Cédula
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().cedula}}
                    </dd>
                </div>
                <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Fecha de nacimiento
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{userService.users().birthdate}}
                    </dd>
                </div>
            </dl>
        </div>
        <Button>Editar</Button>

    }
    
</div>

<ng-content #name>
    <form action="">
        <label for="">Nombre</label>
        <input type="text" name="" id="">
        <label for="">Apellido</label>
        <input type="text">
        <label for="">Correo Electronico</label>
        <input type="text">
        <label for="">Telefono</label>
        <input type="text">
        <label for="">Cedula</label>
        <input type="text">
        <label for="">Fecha de nacimiento</label>
        <input type="text">
    </form>
</ng-content>
