<div id="custom-carousel" class="relative w-full">
  <!-- Contenedor del carrusel -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <div *ngFor="let image of images; let i = index" class="absolute inset-0 transition-opacity duration-700 ease-in-out"
         [ngClass]="{'opacity-0': currentIndex !== i, 'opacity-100': currentIndex === i}">
      <img [src]="image" class="w-full h-full object-cover" alt="Imagen del carrusel">
    </div>
  </div>

  <!-- Controles del slider -->
  <button type="button"
          class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          (click)="prevImage()">
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50">
      <svg class="w-4 h-4 text-white" aria-hidden="true" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
    </span>
  </button>
  
  <button type="button"
          class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          (click)="nextImage()">
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50">
      <svg class="w-4 h-4 text-white" aria-hidden="true" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
    </span>
  </button>
</div>
